body{
	max-width: 90%;
	margin: 0 auto;
	background-color: #1212;
	font-family: sans-serif;
	font-size: 22px;
	color: #333;
}
main{
	display: flex;
	flex-direction: column;
	background-color: #1111;
	height: 100%;
	width: 100%;
}
p{
	margin: 10px;
}
.stats {
	display: flex;
	justify-content: space-between;
}
.stats-item {
	cursor: pointer;
	width: 22%;
	background-color: #fff;
	border-radius: 10px;
	margin: 10px;
}
.item {
	&__inner {
		display: flex;
		position: relative;
		justify-content: flex-end;
		padding-right: 15px;
		&__stat {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			padding-top: 15px;
			padding-bottom: 10px;
		}
		&__stat-tag {
			font-size: 14px;
			opacity: 0.8;
		}
		&__stat-place {
			padding-top: 5px;
		}
	}
	&__ferst-img {
		position: absolute;
		width: 80px;
		height: 80px;
		background-color: green;
		border-radius: 5px;
		box-shadow: 0 0 5px 2px #333;
		top: -15px;
		left: 15px;
		right: 0;
		z-index: 1;
	}
}
.item-name {
	border-top: 1px solid #1212;
	width: 80%;
	margin: 0 auto;
	font-weight: 700;
	padding: 7px;
	margin-top: 15px;
}

.item-filter{
	display: block;
	max-width: 80%;
	font-size: 24px;
	font-weight: 700;
	padding-top: 15%;
	margin: auto;
}






.row{
	margin-top: 40px;
	position: relative;
}

.table {
	display: block;
	max-width: 100%;
	background-color: #fff;
	border-radius: 5px 0 0 5px;
	padding: 15px;
	padding-top: 80px;
	&__header {
		position: absolute;
		background-color: purple;
		border-radius: 5px 0 0 5px;
		width: 95%;
		padding: 15px;
		left: 20;
		top: -30px;
		right: 0;
		z-index: 1;
	}
	&__header-title {
		color: #fff;
		line-height: 2;
	}
	&__header-subtitle {
		color: #fff;
		
		font-size: 16px;
	}
}
tr {
	border: 1px solid black;
}
.active {
	color: purple;
}
.tr{
	display: flex;
	transition: 0.3s;
}
.tr:hover {
	background-color: #1313;
}
.td-active{
	border-top: 1px solid #1212;
	color: purple;
	width: 20%;
}
.td{
	border-top: 1px solid #1212;
	text-align: left;
	width: 20%;
	padding: 5px 10px;
	margin: 0;
}
.dollar{
	cursor: default;
}
.dollar::selection {
   background: transparent;
}