.signIn {
	display: flex;

	background-color: #fff;
	justify-content: space-between;
	width: 100%;
	max-width: 1720px;
	margin: 160px auto;
}
.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #C1C1C1;
	width: 746px;
	height: 590px;
}
.login-logo {
	@extend %title;
	margin-bottom: 50px;
}
.login p{
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;

	color: #000000;
}
.login input{
	width: 598px;
	height: 56px;
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	margin-bottom: 35px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	padding: 15px;

	color: #000000;
}
.login-password{
		position: relative;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 23px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000000;

	&:hover{
		text-decoration: underline;
	}
}



.login-btn {
	@extend %btn;
}
.new {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 746px;
	height: 220px;
	border: 1px solid #C1C1C1;
}
.new-logo {
	@extend %title;
	padding: 20px;
}
.new-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid;
	width: 375px;
	height: 74px;
	background-color: #000;
	color: #fff;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	text-transform: uppercase;
	transition: 0.5s;
	&:hover{
		background-color: #fff;
		color: #000;
	}
}



.password {
	position: relative;
}
.password-control {
	position: absolute;
	top: 7px;
	right: 6px;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: red
}
.password-control.view {
	background-color: black
}
